.perent-div-login {
  display: flex;
  width: 96%;
  justify-content: space-evenly;
  align-items: center;
  padding: 60px;
  margin-top: 40px;
}

.form-div {
  width: 50%;
  padding: 10px 40px;
}

.img-div {
  width: 50%;
  /* padding: 10px 40px; */
}

.img-form {
  width: 80%;
}

.form-button-color {
  background-color: #c2410c;
}

.button-group-div {
  display: flex;
  margin-top: 40px;
  gap: 20px;
  flex-direction: row;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-form {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  margin-top: 40px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.input{
  height: 40px;
  border: none;
  border-bottom: 1px solid gray;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}